body {
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

button {
  margin: 4px;
}

.lights-list {
  display: flex;
  flex-direction: column;
}

.light-card {
}
