body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  color: black;
  flex-direction: column;
}

.bulb {
  height: 400px;
  width: 400px;
  background-color: grey;
  border-style: solid;
  border-width: 2px;
  border-color: lightgrey;
  border-radius: 200px;
  text-align: center;
  align-content: center;
}

.bulb-on {
  background-color: yellow;
}
